# general ignores
*.swp

# user dirs
#  ignore most dirs that start with a-z
/[a-zA-Z]*
#  don't ignore bin though
!/bin

# config dirs
/.audacity-data/
/.cache/
/.cddb/
/.conda/
/.dbus/
/.dropbox-dist/
/.dropbox/
/.emacs.d/
/.gconf/
/.gnupg/
/.googleearth/
/.ipython/
/.kde/
/.local/
/.mozilla/
/.pki/
/.ssh/
/.steam/
/.thunderbird/
/.zoom/

# Config Files
# ------------
/.Xauthority
# Xmodmap: ignore bc it should be machine-specific
/.Xmodmap
/.bash_history
/.face
/.face.icon
/.fonts.conf
/.gtkrc-2.0
/.lesshst
/.pulse-cookie
/.profile
/.python_history
/.recently-used
/.selected_editor
/.steampath
/.steampid
/.sudo_as_admin_successful
/.toprc
/.xsel.log
/.xsession-errors



