[user]
	email = william.stubler@gmail.com
	name = William Stubler
[core]
	excludesfile = ~/.gitignore_global
[alias]
	co = checkout
	br = branch
	ci = commit
	lg = log -20 --oneline --decorate --graph --color
	st = status
[push]
	default = simple
[color]
        ui = auto
