
# [set variables]
set completion-ignore-case on
# display variables
set show-all-if-unmodified on
# keep off: want symlink dirs to appear as dirs
set visible-stats off
# who cares about case when completing files/dirs esp. on Windows?
set completion-ignore-case on


"\C-p":history-search-backward
"\C-n":history-search-forward

"\ep":history-search-backward
"\eP":history-search-backward

"\en":history-search-forward
"\eN":history-search-forward

# set by default, for reference
"\e[A":previous-history         # up arrow
"\e[B":next-history             # down arrow

"\C-a": beginning-of-line
"\em": beginning-of-line

# Convenient Killing
"\ek": backward-kill-word
"\e\C-k": shell-backward-kill-word
"\eK": kill-whole-line

# Move by shell word
"\e\C-b": shell-backward-word
"\e\C-f": shell-forward-word

"\e\C-?": backward-kill-word

"\e[1;5C": forward-word
"\e[1;5D": backward-word

# Note: ^H, ^T, etc doesn't work!
# `showkey -a` can be used to find new combos, replace ^[ with \e
