Emacs.Font: DejaVu Sans Mono-11
Emacs.default.attributeBackground: darkblue
Emacs.default.attributeForeground: gray
Emacs*Background:       #fcfcfc
Emacs*Dialog*background:        #eff0f1
Emacs*Dialog*foreground:        #232627
Emacs*Foreground:       gray
Emacs*XlwScrollBar.Background:  #eff0f1
Emacs*XlwScrollBar.Foreground:  #232627
Emacs*backgroundToolBarColor:   #eff0f1
Emacs*bottomToolBarShadowColor: #eff0f1
Emacs*menubar*background:       #eff0f1
Emacs*menubar*foreground:       #232627
Emacs*popup*Background: #eff0f1
Emacs*popup*Foreground: #232627
Emacs*toolBarShadowThickness:   0
Emacs*topToolBarShadowColor:    #eff0f1

URxvt*foreground: white
URxvt*background: black
URxvt*font: 9x15

*color0:  #2E3436
*color1:  #a40000
*color2:  #4E9A06
*color3:  #C4A000
*color4:  #3465A4
*color5:  #75507B
*color6:  #ce5c00
*color7:  #babdb9
*color8:  #555753
*color9:  #EF2929
*color10: #8AE234
*color11: #FCE94F
*color12: #729FCF
*color13: #AD7FA8
*color14: #fcaf3e
*color15: #EEEEEC
