[user]
	email = william.stubler@gmail.com
	name = bgs
[core]
	excludesfile = ~/.gitignore_global
[alias]
	co = checkout
	br = branch
	ci = commit
	lg = log -20 --oneline --decorate --graph --color
	st = status
[core]
	editor = kate
[push]
	default = simple
