# dirs
/Clementine/
/Google/
/Unknown Organization/
/akonadi-firstrunrc
/akonadi-migrationrc
/akonadi/
/akonadi_akonotes_resource_0rc
/akonadi_contacts_resource_0rc
/akonadi_ical_resource_0rc
/akonadi_indexing_agentrc
/akonadi_maildir_resource_0rc
/ardour5/
/autostart/
/cantata/
/cef_user_data/
/dconf/
/Dharkael/
/easytag/
/kazam/
/procps/
/geany/
/gtk-3.0/
/kdeconnect/
/libaccounts-glib/

# TODO: anything in libreoffice we can track?
/libreoffice/
/mpd/
/pavucontrol-qt/
/pulse/
/session/
/vlc/

# files
/QtProject.conf
/Trolltech.conf
/akregatorrc
/arkrc
/baloo*
/bluedevilglobalrc
/bluedevilglobalrc.bZ1086
/discoverrc
/drkonqirc
/emaildefaults
/emailidentities
/filetypesrc
/flameshotrc
/gtkrc
/gtkrc-2.0
/gwenviewrc
/k3brc
/kaccessrc
/kactivitymanagerd-pluginsrc
/kactivitymanagerd-statsrc
/kactivitymanagerd-switcher
/kactivitymanagerdrc
/kamosorc
/katemetainfos
/katepartrc
/katerc
/kateschemarc
/katevirc
/kcalcrc
/kcmfonts
/kcminputrc
/kcmshell5rc
/kconf_updaterc
/kdebugrc
/kded5rc
/kded_device_automounterrc
/kdeglobals
/kfontinstuirc
/kgammarc
/kglobalshortcutsrc
/khotkeysrc
/kiorc
/kmail2rc
/kmailsearchindexingrc
/kmixrc
/knfsshare
/knotifyrc
/kolourpaintrc
/korgacrc
/krunnerrc
/kscreenlockerrc
/kservicemenurc
/ksmserverrc
/ksysguardrc
/ktimezonedrc
/kwalletrc
/kwinrc
/kwinrulesrc
/mimeapps.list
/muonrc
/okularrc
/phishingurlrc
/plasma-localerc
/plasma-nm
/plasma-org.kde.plasma.desktop-appletsrc
/plasmanotifyrc
/plasmarc
/plasmashellrc
/powerdevilrc
/powermanagementprofilesrc
/print-manager
/soffice.binrc
/specialmailcollectionsrc
/spectaclerc
/startupconfig
/startupconfigfiles
/startupconfigkeys
/systemmonitorrc
/systemsettingsrc
/tabletprofilesrc
/touchpadrc
/touchpadxlibinputrc
/trashrc
/user-dirs.dirs
/user-dirs.locale
/wacomtablet-kderc
/webengineurlinterceptoradblockrc
/yakuakerc
/vlcrc
/zoomus.conf

# TO-DO: track konsole and dolphine?
/konsolerc
/dolphinrc  