

# dirs
/Clementine/
/autostart/
/cantata/
/dconf/
/gtk-3.0/
/kdeconnect/
/libaccounts-glib/
# TODO: anything in libreoffice we can track?
/libreoffice/
/mpd/
/pavucontrol-qt/
/pulse/
/session/
/vlc/



# files
/QtProject.conf
/Trolltech.conf
/akregatorrc
/baloo*
/bluedevilglobalrc
/bluedevilglobalrc.bZ1086
/discoverrc
# be nice to track dolphin 
/dolphinrc  
/emaildefaults
/gtkrc
/gtkrc-2.0
/gwenviewrc
/k3brc
/kaccessrc
/kactivitymanagerd-pluginsrc
/kactivitymanagerd-statsrc
/kactivitymanagerd-switcher
/kactivitymanagerdrc
/katemetainfos
/katepartrc
/katerc
/kateschemarc
/katevirc
/kcminputrc
/kcmshell5rc
/kconf_updaterc
/kdebugrc
/kded_device_automounterrc
/kdeglobals
/kfontinstuirc
/kgammarc
/kglobalshortcutsrc
/khotkeysrc
/kiorc
/kmail2rc
/kmixrc
/knfsshare
/knotifyrc
/kolourpaintrc
# be nice to track konsole
/konsolerc
/korgacrc
/krunnerrc
/kscreenlockerrc
/kservicemenurc
/ksmserverrc
/ksysguardrc
/ktimezonedrc
/kwalletrc
/kwinrc
/kwinrulesrc
/muonrc
/okularrc
/plasma-localerc
/plasma-nm
/plasma-org.kde.plasma.desktop-appletsrc
/plasmarc
/plasmashellrc
/powerdevilrc
/powermanagementprofilesrc
/print-manager
/spectaclerc
/startupconfig
/startupconfigfiles
/startupconfigkeys
/systemmonitorrc
/systemsettingsrc
/touchpadrc
/trashrc
/user-dirs.dirs
/user-dirs.locale
/webengineurlinterceptoradblockrc
/yakuakerc






